<!-- ngSwitch -->
<div [ngSwitch]='color'>
    <h1 *ngSwitchCase="'green'" class="bg-success">green Color</h1>
    <h1 *ngSwitchCase="'red'" class='bg-danger'>red Color</h1>
    <h1 *ngSwitchCase="'yellow'" class='bg-warning'>yellow Color</h1>
</div>


<p>*ngIf</p>
<br><form action="" *ngIf='showHide' class="col-md-4 offset-4 mt-5 card card-body">
        <h1 class="text-center bg-dark text-white">Login Here</h1>
    <input type="text" name="email" id="email" placeholder="enter email......" >
     <input type="password" name="password" id="password" placeholder="enter password.....">
     <button class="bg-success">Login</button>
</form>

<br>
<!-- *ngFor -->
<h1>*ngFor</h1>
<br><div class="col-md-8 float-left mt-1" *ngFor="let i of products">
    <img src="{{i.img}}" alt="">
    <h1>{{i.name}}</h1>
</div>


